/*
 * Main colors:
 * dark yellow - #373702: use var(--dark-border)
 * magenta - #F952F9 use var(--local-border)
 * light blue - #00FAFA: use var(--text-color)
 * green - #00FA00: use var(--inidcator-color)
 * background - #271D30
 */
:root {
    --indicator-color: #00FA00;
    --local-border: #F952F9;
    --text-color: #01FAFA;
    --remote-border: #F4DB53;
    --warning: #F4DB53;
    --error: #F54545;
    --background: #271D30;
    --text-background: #11051E;
    --text-offline: #004444;
    --pane-background: black;
    --dark-border: #373702;
    --help-bubble-bg-color: rgba(55, 55, 2, .7);
}
@font-face {
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FiraSansCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "FiraCode";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FiraCode-VF.ttf") format("truetype");
}
html,
body {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'FiraSans';
  color: #00FAFA;
  background-color: var(--background);
  overflow: auto;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--local-border) var(--background);
}
* {box-sizing: border-box; }
*:focus { outline: none; } 

.modal h1, .modal h2, .modal h3 {
  text-align: center;
}
.modal h1 {
    font-size: 22pt;
    /* margin: 0; */
}
h2 { margin: 0.3em;}
h3 { margin: 0.2em; color: var(--local-border); }

#terminal7 {
    height: 100%; 
	overflow-x: auto;
}
#terminal7 *, #navbar * {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
button {
    border: 0;
    padding:0;
    background-color: var(--background);
    color: #00fafa;
    /*
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  font-weight: bold;
  font-family: Courier new;
  */
}
.text-button, #gates button {
    display: flex;
    cursor: pointer;
    margin: 0 0.3em 0.3em 0;
    border-color: var(--local-border);
    border-radius: 0.15em;
    font-weight: 300;
    font-size: 20px;
    justify-content: center;
    align-items: center;
} 
dd { display: visible; }
.border, .text-button {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}
footer { padding-top: 1em; }
p a, footer a {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #00FAFA;
}
.modal {
    z-index: 5;
    background-color: var(--background);
    padding: 2%;
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40em;
    max-width: 80%;
    border-color: var(--local-border);
}
.modal p, .modal td {
    font-size: 16pt;
}
.modal h2 { 
    margin-top: 0; 
    margin-bottom: 1em;
}
.modal nav:not(.navtext) { 
    border-top: 1px var(--dark-border) solid;
}
.modal nav { 
    clear: both;
    width: 100%; 
    margin: 1.5em auto 0;
    padding-top: 2%;
}
.keys-help.modal {
    bottom: 180px;
}
.keys-help>div {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: no-wrap;
    gap: 0.5em;
}
.keys-help table {
    flex: 1;
    border-collapse: collapse;
    margin-right: 1em;
}
.keys-help tr {
    border-bottom: 1px solid var(--dark-border);
}
.keys-help tr:last-child {
    border-bottom: none;
}
.window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pane {
    position: absolute;
    padding: 4px;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
    box-sizing: border-box;
    background-color: var(--pane-background);
    border: 1px solid var(--dark-border);
    border-radius: 6px;
    text-align: left;
}
.layout {
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
}

.full {
    top:0;
    left:0;
    height: 78%;
}
.fas {
    line-height: 5.5vh !important;
}
#navbar {
    bottom: 0;
    padding: 18px 0;
    position: fixed;
}
nav button {
    flex: 1;
    cursor: pointer;
    border-right: 2px solid var(--dark-border);
    font-size: 20px;
}
.has-help {
    position: relative;
}
.help-bubble-text {
    font-size: 1rem;
    font-family: 'FiraSans', serif;
    background-color: var(--help-bubble-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    width: 120px;
    bottom: 80px;
    left: 50%;
    margin-left: -60px;
}
.help-bubble-text::after {
    content: " ";
    position: absolute;
    bottom: -60px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    transform: scale(1,5);
    border-style: solid;
    border-color: var(--help-bubble-bg-color) transparent transparent transparent;
}
nav:not(.navtext) button:last-child {
    border: none;
}
nav {
    display: flex;
    align-content: stretch;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--background);
    z-index: 3;
}
.tabbar button {
    flex: 1 0 10%;
    border: none;
    position: relative;
}
.tabbar nav {
    flex: 10 1 80%;
    display: flex;
    align-content: stretch;
    border: 1px solid var(--local-border);
    background-color: var(--pane-background);
    border-radius: 0 0 12px 12px;
    min-height: min-content;
    overflow-x: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    flex-wrap: nowrap;
    position: relative;
    align-items: flex-end;
}
.home-topbar {
    align-content: space-between;
}
nav::-webkit-scrollbar {
    display: none; /*Safari and Chrome*/
}
.tabbar a {
    flex: 1 0 auto; 
    border-right: 1px solid var(--dark-border);
    text-align: center;
    font-size: 18px;
    line-height: 39px;
    text-decoration: none; 
    color: inherit;
    width: max-content;
}
.tabbar-names .on { color: var(--indicator-color) !important; }
#navbar .on { text-shadow: var(--remote-border) 1px 0 10px; }
.failed { color: var(--local-border) !important; }
.warn { color: #FAFA00 !important; }
.off { color: var(--dark-border); }
/* vertical align the nav bar buttons */
.tabbar {
    left: 0; 
    bottom: 51pt;
    color: var(--dark-border);
    position: fixed;
}
.native .windows-container {
    top: 22px;
}
.windows-container {
    bottom: 85pt;
    top: 2px;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.search-box {
    position: fixed;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--background);
    z-index: 5;
    margin: 0 auto;
    padding: 6px;
    bottom: 51pt;
    left: 50%;
    width: 82%;
    max-width: 96%;
    transform: translate(-50%, 0);
    border-color: var(--local-border);
    border-radius: 8px;
}

.rename-box {
    position: fixed;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--background);
    z-index: 9;
    margin: 0 auto;
    padding: 4px;
    bottom: 62pt;
    left: 50%;
    width: 30em;
    max-width: 96%;
    transform: translate(-50%, 0);
    border-color: var(--local-border);
}

nav.tabbar-search {
    display: flex;
    align-content: stretch;
}
.tabbar-search>button {
    padding: 0 0.5em;
    flex: 1 1 0;
    border: 0;
}
button.rename-close {
    border-right: 0;
}
.tabbar-search>input {
    padding: 0 0.5em;
    border: 0;
    font-size: 15px;
    flex: 10 1 auto;
    line-height: 26px;
    border: 1px solid var(--local-border);
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--text-background);
    border-radius: 5px;
}
.active {
    font-weight: bold;
}
.native .pane-container.zoomed {
    top: 22px;
    /* make space for system resizer */
    left: 14px;
    right: 14px;
}

.pane-container.zoomed {
    padding: 0;
    position: fixed;
    z-index: 4;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    /* height: max-content; */
}
.zoomed .pane {
    border-radius: 12px;
}
#map:target {
    display: block;
}
#map {
    position: relative;
    padding-top: 1em;
    width: 1200px;
    display: none;
    text-align: center;
    margin: 0 auto;
    height: calc(100% - 56px);
    overflow-y: auto;
    color: var(--text-color);
}
#version {
    position: absolute;
    top: 128px;
    left: 20px;
    padding: 10px;
    border: 1px dotted;
    border-radius: 4px;
    text-align: center;
    line-height: 12px;
}
#version a {
    text-decoration-style: dashed;
    text-decoration-line: underline;
	cursor: pointer;
}
#version ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}
#version li .status {
    float: right;
    padding-left: 0;
}
#version footer {
    font-size: 10px;
}
#gates {
    width: 100%;
    background: top repeat-y url("/map/middle.png");
}

#gates p {
    overflow: hidden;
}
#gates a {
    text-decoration: none;
}
#gates h3 {
    font-size: 36px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#gates button {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    width: 100%;
}
#gates button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.modal form {
    text-align: left;
    align: left;
}
label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
.modal form input[type=text], .modal form input[type=password],
.modal form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid var(--local-border);
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--text-background);
  border-radius: 5px;
  font-size: 18px;
}
.hidden { visibility: hidden; }
.host {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
}
#log-minimized {
    width: 1200px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}
#twr {
    position: absolute;
    background-color: var(--pane-background);
    z-index: 5;
    left: 966px;
    top: 93px;
    margin: 0;
    padding: 0;
    width: 42px;
    height:42px;
    line-height: 42px;
    border: 1px solid var(--local-border);
    border-radius: 3px;
}
#log {
    background-color: var(--pane-background);
    position: fixed;
    margin: 2vmax;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -60%);
    overflow: hidden;
    z-index: 5;
    opacity: 0.8;
    width: 540px;
    border: 4px outset var(--local-border);
    border-radius: 7px;
}
#log>div {
    padding: 0.4em;
    height: 100%;
    width: 100%;
}
@media (min-width: 600px) {
    #title-short {
        display: none;
    }
    #title-long {
        display: block;
    }
    #version {
        max-width: 35vw;
    }
}

.search-container {
    margin: 0 auto;
    width: 80%;
}
#indicators {
    position: absolute;
    top: 22px;
    right: 0px;
    line-height: 18pt;
    font-size: 18pt;
    margin: 6px;
    z-index: 10;
    opacity: 0.6;
}
#indicators i, #indicators p {
    cursor: pointer;
    border: 1px solid var(--dark-border);
    float: right;
    text-align: center;
    padding: 0.2em;
    color: var(--indicator-color); 
}
#indicators p {
    margin: 0;
}
#indicators .off {
    color: #003F00;
}
#help-copymode, #keys-help {
    width: 50em;
}

td {
    text-align: left;
    padding:0.5em 0;
}
.divider {
    position: absolute;
    z-index: 3;
}    
.divider * {
    pointer-events: none;
}
.top-divider { 
    transform: rotate(90deg);
    cursor: row-resize;
    padding: 20px 40px;
}
.left-divider {  
    cursor: col-resize; 
    padding: 40px 20px;
}

.offline {
    color: var(--text-offline);
}
.tabbar-names .on::before { content: "❲ "; color: var(--indicator-color);}
.tabbar-names .on::after { content: " ❳"; color: var(--indicator-color);}
#offline {
    bottom: unset;
    top: 50%;
    transform: translate(-50%, -50%)
}
#offline p {
    margin-top: 2em;
}
#help-home, #help-gate {
    opacity: 0.7;
    height: calc(100% - 300px);
    width: 94%;
    position: fixed;
    left: 3%;
    bottom: 224px;
    z-index: 5;
    background-color: black;
    border: 1px solid var(--local-border);
    border-radius: 50px;
}
#help-gate img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.compact-fields {
    max-width: 20em;
    margin-right: auto;
    margin-left: auto;
}

#greetings-modal {
    max-width: 36em;
}
#greetings-modal h2 {
    color: var(--local-border);
}
#greetings-modal h3 {
    padding-top: 1em;
}
#greetings-modal button {
    background-color: inherit;
    margin-top: 1em;
}
#greetings-modal p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding: 0.5em 1.2em;
}
.modal ul {
    width: fit-content;
    list-style: tibetan;
    margin: 0 auto;
}
.modal li {
    font-size:20px;
    text-align: left;
    line-height: 30px;
    padding-bottom: 0.5em;
}
#peerbook-modal p {
    text-align: left;
}
input[name="fingerprint"] {
    width: 25em; 
    margin: 8px auto;
}
pre {
    text-align: left;
    overflow: auto;
    white-space: pre-wrap;
    margin: 1em auto;
    font-family: "FiraCode";
    -webkit-user-select: all;
    user-select: all;
    font-size: 18px;
    background-color: black;
    padding: 0.5em;
    border: 1px solid var(--local-border);
    border-radius: 5px;
}
footer pre { font-size: 14px; }
.navtext button {
    flex: 1;
    margin: 1em;
}
.navtext>div {
    flex: 1;
    margin: 0 1em;
}
.lose-state pre {
    font-size: 14px;
}
.warning {
    color: var(--warning);
}
.error {
    color: var(--error);
}
.lose-state p {
    text-align: left;
}
.webexec-install div {
    position: relative;
}
.webexec-install ::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5px;
}

.webexec-install ::-webkit-scrollbar-track {
    background: var(--text-background);
    border-radius: 5px;
}
.webexec-install ::-webkit-scrollbar {
    height: 14px;
}
.webexec-install button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6px;
    padding:8px;
}
audio { display: none; }
.edit-gate {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -25%;
}
.map-header-wide {
    display: block;
    margin: 0 auto;
    height: 370px;
    background: right no-repeat url("/map/top.png");
}
.gate-pad, .empty-pad {
    width: 25%;
    height: 110px;
    float: left;
    padding: 38px 26px;
    display: flex;
}
.gate-status {
    width: 80%;
    border-right: 2px solid var(--dark-border);
}
.gate-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 0.5em;
}
.native .gate-stats.zoomed {
    right: 18px;
}
.gate-stats {
    font-family: "FiraCode";
    font-size: 40%;
    text-align: left;
    padding-left: 1.5em;
    text-shadow: none;
}

.native .gate > .gate-stats {
    top: 22px;
}
.gate > .gate-stats {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 75%;
    z-index: 10;
    color: #fff;
    border: 1px solid var(--dark-border);
    border-radius: 2px;
    background-color: rgba(var(--background-rgb), 0.7);
    margin: 4px;

}
.gate-stats > i {
    font-size: 160%;
    vertical-align: middle;
    margin-right: 0.2em;
}
.gate > .gate-stats > i {
    font-size: 130%;
}
.peerbook-icon {
    position: relative;
    text-shadow: 0;
    left: 10%;
}
.gate-edit {
    width: 20%;
    height: 100%;
    position: relative;
    padding-right: 20%;
}
#map .text-button, .empty-pad div  {
    width: 100%;
    height: 70px;
}
#map .text-button {
    background-color: var(--text-background);
}
.empty-pad div {
    border: 1px dotted var(--local-border);
    opacity: 25%;
}
#map-footer {
    clear: both;
    background: top no-repeat url("/map/bottom.png")
}
.line-break {
    margin: 0;
    padding: 0;
    clear: both;
}
div.boarding  {
    text-shadow: var(--remote-border) 1px 0 10px;
}
#changelog {
	opacity: 0;
	position: relative;
	max-width: 10vw;
	max-height: 0;
	padding: 0.2em 1em;
	line-height: 1.5em;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: all 0.75s ease;
	background-color: var(--text-background);
	border-radius: 5px;
    text-align: left;
}
#changelog ul {
    list-style: tibetan;
    text-align: left;
    padding-left: 1em;
}
#changelog h2 {
    margin: 0;
}
#changelog.show {
	opacity: 0.9;
	max-width: 96vw;
	max-height: 60vh;
    border: 1px solid var(--local-border);
}
#changelog::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5px;
}
#changelog::-webkit-scrollbar-track {
    background: var(--text-background);
    border-radius: 5px;
}
#changelog::-webkit-scrollbar {
    height: 14px;
}
#changelog>a {
	position: absolute;
	top: 3%;
	right: 2%;
	text-decoration: none;
}
#title-short {
  letter-spacing: 0.1em;
}
.expand-gate {
    display: block;
    position: absolute;
    float:right;
    text-shadow: none;
    transform: translate(50%, -50%);
    top: 50%;
    pointer-events: none;
}
.tabbar-search .not-found {
    position: relative;
    left: -76px;
    width: 0;
    overflow: visible;
    white-space: nowrap;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#capslock-indicator {
    position: absolute;
    top: 2%;
    right: 15%;
    color: var(--warning);
    z-index: 4;
}
#capslock-indicator > i {
    font-size: 1em;
}
#edit-conf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-background);
    opacity: 0.8;
    z-index: 3;
}
@media (max-width: 600px) {
    #log {
        width: 90vw;
    }
    #title-short {
        display: block;
    }
    #title-long {
        display: none;
    }
    #version {
        max-width: 35vw;
    }
}
