node_modules
.DS_Store
Thumbs.db
*.log
/dist
/tmp
/build
*.bundle.js
plugins/

*.xcuserdatad

# broswer

# vscode
.vscode/
typings/
/jsconfig.json

# resources
resources/ios
resources/android
# testing
qa/webexec/config/agent.*
qa/result
