node_modules
.DS_Store
Thumbs.db
*.log
/dist
/tmp
/build
*.bundle.js
plugins/

*.xcuserdatad

# broswer

# vscode
.vscode/
typings/
/jsconfig.json

# resources
resources/ios
resources/android
# testing
aatp/webexec/config/agent.*
aatp/result
aatp/**/authorized_fingerprints

# Local Netlify folder
.netlify

# idea
.idea/
# doc site
site/
.aider*
