/*
 * Main colors:
 * yellow - #D9F505
 * dark yellow - #373702
 * magenta - #F952F9
 * light blue - #00FAFA
 * background - #271D30
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Courier new;
  color: #00FAFA;
  background-color: #271D30;
}

time {
    color: #F952F9;
    font-family: Courier;
}
h1, h2, h3 {
  text-align: center;
}
h1 { margin: 0.5em; }
h2 { margin: 0.3em; }
h3 { margin: 0.2em; }

#terminal7 {
    height: 100%; 
}
button {
  background-color: #271D30;
  color: #00fafa;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  font-weight: bold;
  font-family: Courier new;
}
#terminal7 ul {
    list-style:none;
}
.border { margin: 1vmin; padding: 1vmin;
    border: 1px solid #D9F505;
    border-radius: 6px;
}
a {
    text-decoration: none;
    color: #00FAFA;
}
.focused {
    border-color: #D9F505 !important;
}
.modal {
    z-index: 6;
    background-color: #271D30;
    padding: 2%;
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30em;
}
.modal p {
    font-size: 3vh;
    text-align: center
}
.modal h2 { margin-top: 0; }
1modal:last-child {
    margin-bottom: 2vh;
}
.modal nav { 
    clear: both;
    width: 100%; 
    margin-top: 6vh; 
    margin: 6vh auto 0;
    display: table;
}
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%%; /* TODO: make responsive */
}
.pane {
    position: fixed;
    padding: 0;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
    box-sizing: border-box;
    background-color: black;
    border: 1px solid #373702;
    border-radius: 6px;
}
.layout {
    position: fixed;
    margin: 0;
    padding: 0;
    display: none;
}

.full {
    top:0;
    left:0;
    height: 78%;
}
.fas {
    line-height: 5.5vh !important;
}
.bar {
    margin: 0;
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #271D30;
    height: 4vmin;
}
#navbar>nav, .tabbar-names-nav {
    padding: 0;
    width: 100%
}
#navbar {
    bottom: 0;
    text-align: center;
}
nav {
    display: table;
}
.tabbar-names-nav i {
    border: none;
}
nav i:last-child {
    border: none;
}
nav i {
    cursor: pointer;
    border-right: 1px solid #373702;
    /* box-sizing: border-box; */
    display: table-cell;
    text-align: center
}
.on { color: #F952F9 !important; }
.off { color: #373702; }
/* vertical align the nav bar buttons */
.tabbar {
    bottom: 5vmin;
    color: #00fafa;
}
.tabbar input {
  font-size: 2.5vmin;
  line-height: 3vmin;
  background-color: black;
  color: inherit;
}
.tabbar .internal {
    margin: 0 auto;
    padding: 0;
    width: 80vw;
    background: black;
    /* border-top: 4px double #373702; */
    border-bottom: 1px solid #D9F505;
    border-right: 1px solid #D9F505;
    border-left: 1px solid #D9F505;
    border-radius: 0 0 12px 12px;
    text-align: center;
}
.internal>div {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #373702;
}
.internal>div a {
    font-size: 3vmin;
    line-height: 4vmin;
    text-decoration: none; 
    color: inherit;
}
.tabbar-names>i {
    width: 10%;
}
.tabbar-search {
    margin: 0 auto;
}
.tabbar-search>i {
    width: 10%;
}
.tabbar-search>a:last-child {
    border: none;
}
.tabbar-search>a {
    display: table-cell;
    border-right: 1px solid #373702;
    width: 6em;
}
.tabbar-search>input {
    width:20em;
}
.active {
    font-weight: bold;
}
.zoomed {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#home:target {
    z-index: 5
}
#home {
    width: 100%;
    background-color: #271D30;
    position: absolute;
    left: 50%;
    bottom: 9.5%;
    transform: translate(-50%, 0);
}
#home h1 {
    padding-bottom: 2%;
}
#plus-host  i {
    font-size: 5.5vh;
    padding: 0.5vh 0 1.5vh;
}
#hosts-wrapper {
    float:right;
    position: relative;
    left: -50%;
}
#hosts {
    margin: 8% auto 0;
    position: relative;
    left: 50%;
}

#hosts li {
    display: block;
    float: left;
    height: 100px;
    min-width: 100px;
    cursor: pointer;
}
#hosts li a {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
    display: block;
    text-decoration: none;
}
#add-host {
    text-align: left;
    align: left;
}
#add-host input[type=text], #add-host input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.hidden { display: none; }
.host {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
}
#log {
    position: absolute;
    left: 10%;
    top: -4px;
    margin: 0;
    padding: 0;
    z-index: 6;
    width: 80%;
    background-color: #271D30;
    text-align: left;
}
#log-msgs {
    margin: 0;
    padding: 0;
}
.log-msg {
    font-size: 16px;
    width: 80%;
    color: #00FAFA;
    margin: 2%;
}
.fade-out {
  top: 0;
  transform: translate(0, -100%);
  transition: transform 3s ease-in;
}
.search-container {
    margin: 0 auto;
    width: 80%;
}
