html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
  background-color: black;
}

.border { margin: 1vw; padding: 1vh;
    border: 0.5vh solid #C0CA33;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

#navbar {
    height: 8vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#tabbar {
    height: 8vh;
    position: fixed;
    bottom: 7.5vh;
    left: 0;
    right: 0;
}
