/*
 * Main colors:
 * yellow - #D9F505
 * dark yellow - #373702
 * magenta - #F952F9
 * light blue - #00FAFA
 * green - #00FA00
 * background - #271D30
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Courier new;
  color: #00FAFA;
  background-color: #271D30;
}

time {
    color: #F952F9;
    font-family: Courier;
}
h1, h2, h3 {
  text-align: center;
}
.modal h1 {
    font-size:28pt;
}
h1 {
    font-size: 43pt;
    margin: 0;
}
h2 { margin: 0.3em; }
h3 { margin: 0.2em; }

#terminal7 {
    height: 100%; 
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
button {
  background-color: #271D30;
  color: #00fafa;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  font-weight: bold;
  font-family: Courier new;
}
#terminal7 ul {
    list-style:none;
}
.border {
    border: 1px solid #D9F505;
    border-radius: 6px;
}
p a {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #00FAFA;
}
.focused {
    border-color: #D9F505 !important;
}
.modal {
    z-index: 6;
    background-color: #271D30;
    padding: 2%;
    position: fixed;
    bottom: 40pt;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40em;
    max-width: 90%;
}
.modal p, .modal td {
    font-size: 16pt;
}
.modal h2 { 
    margin-top: 0; 
    margin-bottom: 1em;
}
.modal nav { 
    clear: both;
    width: 100%; 
    border-top: 1px #373702 solid;
    margin: 1.5em auto 0;
    padding-top: 2%;
}
#keys-help {
    width: auto;
}
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%%; /* TODO: make responsive */
}
.pane {
    position: fixed;
    padding: 0;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
    box-sizing: border-box;
    background-color: black;
    border: 1px solid #373702;
    border-radius: 6px;
}
.layout {
    position: fixed;
    margin: 0;
    padding: 0;
    display: none;
}

.full {
    top:0;
    left:0;
    height: 78%;
}
.fas {
    line-height: 5.5vh !important;
}
.bar {
    margin: 0;
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #271D30;
}
#navbar>nav, .tabbar-names-nav {
    padding: 0;
    width: 100%
}
#navbar {
    bottom: 18pt;
    text-align: center;
}
nav {
    display: table;
}
.tabbar-names-nav i {
    border: none;
    width: 10%;
    position: relative;
    top: 4pt;
}
nav i:last-child {
    border: none;
}
nav i {
    cursor: pointer;
    border-right: 1px solid #373702;
    /* box-sizing: border-box; */
    display: table-cell;
    text-align: center
}
nav .on { color: #00FA00 !important; }
.failed { color: #F952F9 !important; }
.warn { color: #FAFA00 !important; }
.off { color: #373702; }
/* vertical align the nav bar buttons */
.tabbar {
    bottom: 54pt;
    color: #00fafa;
}
.tabbar input {
  font-size: 18pt;
  line-height: 24pt;
  background-color: black;
  color: inherit;
}
.tabbar .internal {
    margin: 0;
    padding: 0;
    width: 100%;
    background: black;
    /* border-top: 4px double #373702; */
    border-bottom: 1px solid #D9F505;
    border-right: 1px solid #D9F505;
    border-left: 1px solid #D9F505;
    border-radius: 0 0 12px 12px;
    text-align: center;
}
.internal>div:last-child {
    border-right: none;
}
.internal>div {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #373702;
}
.internal>div a {
    font-size: 24pt;
    line-height: 30pt;
    text-decoration: none; 
    color: inherit;
}
.tabbar-names>i {
    width: 10%;
}
.search-box {
    position: fixed;
    display: inline-block;
    box-sizing: border-box;
    background-color: #271D30;
    z-index: 9;
    margin: 0 auto;
    padding: 0;
    bottom: 66pt;
    left: 50%;
    transform: translate(-50%, 0);
}
.tabbar-search {
    padding: 0.2em 1em;
}
.tabbar-search>i {
    padding: 0 0.5em;
}
.tabbar-search>input {
    padding: 0 0.5em;
    width: 30em;
    max-width: 90%;
    position: relative;
    margin-left: 1em;
    border-right: 1px solid #373702;
    font-size: 18pt;
}
.active {
    font-weight: bold;
}
.zoomed {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#home:target {
    z-index: 5
}
#home {
    font-family: -apple-system;
    width: 100%;
    background-color: #271D30;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#home p { font-size: 24pt; }
#version {
    padding-bottom: 2%;
}
#version a {
    text-decoration: underline;
}
#plus-host  i {
    font-size: 5.5vh;
    padding: 0.5vh 0 1.5vh;
}
#hosts-wrapper {
    float:right;
    position: relative;
    left: -50%;
}
#hosts .border {
    border-color: #F952F9;
}
#hosts {
    position: relative;
    left: 50%;
}

#hosts li {
    display: block;
    float: left;
    height: 100px;
    min-width: 100px;
    cursor: pointer;
    margin: 1em; 
    padding: 0.2em 4em;
}
#hosts li a {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
    display: block;
    text-decoration: none;
}
.modal form {
    text-align: left;
    align: left;
}
.modal form input[type=text], .modal form input[type=password],
.modal form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.hidden { visibility: hidden; }
.host {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
}
#log {
    position: absolute;
    left: 10%;
    top: -4px;
    margin: 0;
    padding: 0;
    z-index: 6;
    width: 80%;
    background-color: #271D30;
    text-align: left;
}
#log-msgs {
    margin: 0;
    padding: 0;
}
.log-msg {
    font-size: 16px;
    width: 80%;
    color: #00FAFA;
    margin: 2%;
}
.fade-out {
  top: 0;
  transform: translate(0, -100%);
  transition: transform 1s ease-in;
}
.search-container {
    margin: 0 auto;
    width: 80%;
}
#indicators {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 20pt;
    font-size: 20pt;
    margin: 6px;
    z-index: 10;
    opacity: 0.6;
}
#indicators i, #indicators p {
    cursor: pointer;
    border: 1px solid #373702;
    float: right;
    text-align: center;
    padding: 0.2em;
    color: #00FA00; 
}
#indicators p {
    margin: 0;
}
#indicators .off {
    color: #003F00;
}
.modal table {
    margin: 0 auto;
}
td {
    text-align: left;
    padding:0.5em;
}
